{% extends "locations/base.html" %}



{% block head %}
<!--Countdown script-->
<script type="text/javascript" src="{{ url_for('static', filename='js/countdown.js') }}"></script>

<!--Admixer JS-->
<script type='text/javascript'>
(function(){
  var w = window, d = document;
  w.admixZArr = (w.admixZArr || []);
  w.admixerSmOptions = (w.admixerSmOptions || {});
  w.admixerSmOptions.showAdsOnLoad = true;
  w.admixerSmOptions.urlPrefix  = '/connect?ssid={{ssid}}&url=';
  if (!w.admixerSm) {
      var adms = document.createElement('script');
      adms.async = true;
      adms.type = 'text/javascript';
      adms.src = 'http://cdn.admixer.net/scriptlib/asm2.js?v=3';
      var node = d.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(adms, node);
  }
})();
</script>

{% endblock %}

{% block content %}
{#
{% include "locations/countdown.html" %}
#}
<div class="body">
  <!--Admixer Placing-->
  <div class="reklama">
    <div id="{{admixer.ad_id}}"></div>
    <script type="text/javascript">
        window.admixZArr = (window.admixZArr || []);
        window.admixZArr.push({ z: '{{admixer.z_id}}', ph: '{{admixer.ad_id}}'});
    </script>
    </div>
</div>
<div class="footer">
  <div> <img src="{{ url_for('static', filename='logo/free-lviv-ua-logo-contrast.png') }}" alt="free.lviv.ua Logo" height="30" width="30"> </div>
  <div> free.lviv.ua WiFi NETWORK </div>
</div>

{% endblock %}
