{% extends "locations/base.html" %}
<!--offline script-->
{% block head %}
<!--Enable JS-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/offline-theme-chrome.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/offline.min.js') }}"></script>

{% endblock %}
{% block content %}
<!--offline script options-->

<script>
Offline.options = {active: 'image', checks: {image: {url: 'http://www.google.com.ua/images/srpr/logo11w.png'}}}
</script>
<!--Footer-->
<div class="footer">
  <div style="float:left;padding:5px" ><i class="fa fa-phone-square"> </i> +380 63 450 24 77 </div>
  <div> <img src="{{ url_for('static', filename='logo/free-lviv-ua-logo-contrast.png') }}" alt="free.lviv.ua Logo" height="30" width="30"> </div>
  <div>free.lviv.ua WiFi NETWORK</div>
  <div style="float:right;padding:5px"><i class="fa fa-envelope"> </i><a href="mailto:sales@free.lviv.ua"> sales@free.lviv.ua </a></div>
</div>
{% endblock %}
